#lconn_forums_PostForm_0_postTitle {
  @extend %modern-textbox;
  width: 96% !important;
}
#lconn_forums_PostForm_0_postTag {
  @extend %modern-textbox;
  width: 30% !important;
}
.lotusFormTitle h2 {
  font-size: 20px !important;
}
