/* Inhaltsverzeichnis Wiki Sidebar links */
.lotusui30 .lotusMenu .lotusTree .dijitTreeRow a {
  color: $text-color !important;
}

/* Community-Bild im Wiki */
.discussCommunityLogo {
  border-radius: $community-image-border-radius !important;
  /* Chrome */
  margin-top: 5px;
}

// Navi links
.lotusui30 .lotusPlaceBar .lotusInlinelist {
  li a,
  a:visited {
    color: $link-color !important;
  }
}

// "Bearbeiten" Knopf nicht sichtbar, wenn Wiki-Seite von einem anderen Benutzer gesperrt
.lotusui30 span.lotusBtnDisabled a  {
  @extend %button-default-color;
  &:hover {
      opacity: 1;
  }
}