%create-community-button {
  background: none; 
  color: $light-text-color;
  border: none;
}
body .icCatalogCommunityCreate.bx--dropdown {
  background: none;
  color: $light-text-color;
  border-radius: 0;
  outline: none;
  &:hover {
    @extend %create-community-button;
  }
  &.bx--dropdown--open .bx--dropdown-list {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid $border-color;
    opacity: 1;
  }
  .bx--dropdown-list {
    opacity: 0;
    border: 1px solid transparent;
    transition: all .15s ease-in;
    a {
      text-decoration: none;
      &:hover {
        background-color: $hover-color;
      }
    }
  }
}
body .icCatalogCommunityCreate.bx--dropdown .bx--dropdown-toggle:hover {
  @extend %create-community-button;
  opacity: $button-disabled-opacity !important;
}

body .bx--tabs__nav-item--selected {
  border-bottom-color: $link-color;
}
.bx--list-box__menu-icon > svg {
  fill: $button-background-color;
}
.bx--list-box__field[aria-expanded="true"] ~ .bx--list-box__menu {
  box-shadow: 0 1px 0 0 black, 1px 0 0 0 black, -1px 0 0 0 $link-color;
}
.bx--list-box__field:focus,
.bx--list-box__field[aria-expanded="true"] {
  outline-color: black;
}

// Navigation Startseite Communitys (Meine Community, Entdecken, Eingeladen)
body .bx--tabs__nav-link:hover {
  background: $hover-border-color !important;
  color: white !important;
  border: none !important;
}

// Suchfilter sidebar links
.bx--action-icon--selected {
  border-bottom-color: $hover-border-color !important;
}
.tag-finder .input svg.search {
  fill: $highlight-background-color !important;
}
// ToDo: Refactoring Farben (wurden auf die schnelle für Screenshots anhand der direkten Farbvariablen gesetzt)

// Active menu item top
.catalog .bx--tabs__nav-item--selected {
  border-bottom-color: $hover-border-color !important;
}

// Sorting combobox top right
.bx--list-box__field:focus,
.bx--list-box__field[aria-expanded="true"] {
  outline-color: $hover-border-color !important;
  outline: 1px solid $hover-border-color !important;
}
.bx--dropdown--open {
  border-bottom-color: $hover-border-color !important;
}

/*
.bx--list-box__field:focus, .bx--list-box__field[aria-expanded="true"]
*/
