%create-community-button {
  background: none !important; 
  color: $light-text-color !important;
  border: none;
}
body .icCatalogCommunityCreate.bx--dropdown {
  background: none;
  color: $light-text-color;
  box-shadow: none !important;
  border-radius: 0;
  outline: none;
  border: none !important;
  &:hover {
    @extend %create-community-button;
  }
  &.bx--dropdown--open .bx--dropdown-list {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    opacity: 1;
    outline: none;
  }
  .bx--dropdown-list {
    opacity: 0;
    border: 1px solid rgba(0,0,0,.15) !important;
    transition: all .15s ease-in;
    a {
      text-decoration: none;
      border: none !important;
      &:hover {
        background-color: $hover-color;
      }
    }
  }
}
body .icCatalogCommunityCreate.bx--dropdown .bx--dropdown-toggle:hover {
  @extend %create-community-button;
  opacity: $button-disabled-opacity !important;
}

.bx--list-box__menu-icon > svg {
  fill: $button-background-color;
}

// Suchfilter sidebar links
.bx--action-icon--selected {
  border-bottom-color: $hover-border-color !important;
}
.tag-finder .input svg.search {
  fill: $highlight-background-color !important;
}
// ToDo: Refactoring Farben (wurden auf die schnelle für Screenshots anhand der direkten Farbvariablen gesetzt)

// sub menu item top
.catalog .bx--tabs {
  .bx--tabs__nav {
    height: 100%;
    .bx--tabs__nav-item {
      padding-left: 15px;
      padding-right: 15px;
      display: table;
      height: 100%;
      border: none !important;
      transition: $transition-default-all;
      outline: none;
      &:hover {
        background-color: $header-background-color-hover !important;
        color: $header-foreground-color-hover;
        > .bx--tabs__nav-link {
          color: $header-foreground-color-hover;
        }
      }
      &.bx--tabs__nav-item--selected {
        > .bx--tabs__nav-link::before {
          content: "";
          display: block;
          position: absolute;
          height: 1px;
          width: 100%;
          bottom: 15%;
          background-color: $widget-title-fg;
          opacity: 1;
          transition: $transition-default-all;
        }
        &:hover {
          > .bx--tabs__nav-link::before {
            opacity: 0;
          }
        }
      }
      > .bx--tabs__nav-link {
        display: block;
        position: relative;
        border: none;
        border-radius: 0;
        height: 100%;
        line-height: 40px;
        padding: 0;
        background: none;
        color: $widget-title-fg;
      }
    }
  }
}