#lotusMain {
  max-width: 1700px;
  width: auto;
}
#lotusFrame.lotusWidget_3columnsWithBannerTopMenuLayout, #lotusFrame.lotusWidget_3columnsTopMenuLayout {
  min-width: auto;
}
.lotusWidget_3columnsTopMenuLayout #lotusMain.lotusMain, .lotusWidget_3columnsWithBannerTopMenuLayout #lotusMain.lotusMain {
  max-width: 1360px;
  min-width: auto;
}
.lotusWidget_3columnsTopMenuLayout.lotusui30_layout .lotusColLeft:after, .lotusWidget_3columnsWithBannerTopMenuLayout.lotusui30_layout .lotusColLeft:after {
  display: none;
}

.cardResultsBody .panel-grid-wrapper {
  min-width: 1000px;
}

// Folgen/Community Aktionen Links
#communityActionBar a {
  color: $link-color !important;
}

.lotusDialogFooter .submit {
  background-color: $highlight-background-color !important;
  color: $highlight-foreground-color !important;
  border: none !important;

  &::hover {
    border: none !important;
  }
}