/* Umbenennung der Datei wegen Caching nicht mehr nötig */
@if $insert-header-image {
  .lotusui30.hasSideNav .lotusFrame .lotusTitleBar2 {
    filter: none !important;
    background-image: url($header-image);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 70px;
    max-width: 100%;
    padding: 0;
    position: relative;
    width: auto;
    display: block;
    margin-bottom: 15px;
  }
  /* Zu viel Freiraum zwischen Profilbild und Menüelementen in der Sidbar links reduzieren */
  #homepageLeftNavigationMenuContainer {
    margin-top: 65px;
  }
} @else {
  #homepageLeftNavigationMenuContainer {
    margin-top: 105px;
  }
}

/* Im Profil wird ein Trennstrich zwischen grauer globaler Navi und den Tabs erzeugt */
#lotusHeaderNavigation_UL {
  border-bottom: none;
}

/* "Profil" Menü links ausblenden, da redundant mit rechtem Menü + Metrics ausblenden */
@if $hide-profiles-menu {
  #lotusBannerProfiles {
    display: none;
  }

}
@if $hide-metrics-menu {
  #lotusBannerHeaderMetrics {
    display: none;
  }
}

.lotusui30 {
  .lotusFrame  {
    /* Header */
    .lotusBanner {
      box-shadow: 0 2px 0 rgba(0,0,0,.1);
      .lotusRightCorner {
        background: $header-background-color;
        height: $header-height;
        padding: 0;
        .lotusInner {
          height: 100%;
          box-sizing: content-box;
          .lotusLogo {
            width: 216px;
            margin: 0 20px 0 0;
            padding-right: 20px;
            box-sizing: content-box;
          }
          .lotusBranding {
            padding: 0 15px !important;
            line-height: $header-height;
            display: inline;
            img {
              vertical-align: middle;
            }
          }
          .lotusAltText {
            color: $header-foreground-color;
            font-size: 22px;
            padding: 0;
            line-height: $header-height;
          }
          #lotusBannerNotifications, #headerHelpLi {
            a {
              &#notificationCenterNode, &#headerHelpLink {
                &::before {
                  display: block !important;
                  content: "\f0f3";
                  @extend %fa-shared;
                  font-size: 24px;
                  font-weight: 400;
                  padding: 0;
                  position: relative;
                  top: auto;
                  left: auto;
                  height: auto;
                  transform: none;
                  border: none;
                }
                img {
                  display: none;
                }
              }
              &#headerHelpLink::before {
                content: "\f059";
              }
            }
            #com_ibm_social_as_notification_badging_NotificationCenterInlineBadge_1 {
              height: 100%;
              > .icBanner-badge-onprem {
                top: -45%;
              }
            }
          }
          a {
            font-size: 18px;
            height: 100%;
            line-height: $header-height;
            padding: 0 15px;
            transition: $transition-default-all;
            color: $header-foreground-color;
            outline: none;
            &::before {
              display: none !important;
            }
            &:hover, &:focus {
              background: $header-background-color-hover;
              color: $header-foreground-color-hover;
            }
            .lotusArrow {
              display: none;
              + span {
                display: inline-block;
                visibility: hidden;
                position: relative;
                color: inherit;
                &::after {
                  position: absolute;
                  visibility: visible;
                  right: 0;
                  content: "\f078";
                  @extend %fa-shared;
                  color: inherit;
                  font-size: 14px;
                  margin-top: 2px;
                }
              }
            }
            img.usersRadius {
              margin-top: -4px;
            }
          }
          ul {
            height: 100%;
            &.lotusLinks {
              float: left;
            }
            li {
              margin: 0;
              height: 100%;
              &.lotusHover {
                > a {
                  background: $header-background-color-hover;
                  color: $header-foreground-color-hover;
                  &::after {
                    border-color: $header-foreground-color-hover;
                  }
                }
                &.lotusSelected {
                  > a {
                    color: $header-foreground-color-hover;
                    &::after {
                      opacity: 0;
                    }
                  }
                }
              }
              &.lotusSelected {
                > a {
                  color: $header-foreground-color;
                  &:hover {
                    color: $header-foreground-color-hover;
                  }
                  &::after {
                    content: "";
                    position: absolute;
                    border-bottom: 2px solid $header-foreground-color;
                    width: auto;
                    left: 15px;
                    right: 15px;
                    margin: 0;
                    bottom: 25%;
                    opacity: 1;
                    pointer-events: none;
                    transition: $transition-default-all;
                  }
                  &:hover::after {
                    opacity: 0;
                  }
                }
                &::after {
                  display: none;
                }
                &[aria-owns] > a::after {
                  right: 42px;
                }
              }
            }
          }

          /* Teilen-Button oben rechts ausblenden, da er nicht genutzt wird */
          #headerSharebox {
            display: none;
          }

          #lotusBannerFlyout {
            margin: 0 -10px 0 10px;
            #lotusBannerFlyoutLink {
              padding: 10px;
              .fa {
                font-family: 'Font Awesome 5 Free';
                font-size: 24px;
                line-height: 1;
                &.fa-th:before {
                  content: "\f00a";
                }
              }
            }
          }
        }
      }
    }
  }

  /* Notification styling */
  .dijitPopup {
    outline: none;
    min-width: 200px;
    .lotusNavMenu > .dijitTooltipContainer > .dijitTooltipContents table.lotusLayout {
      width: 100%;
    }
    .icBanner-popover-inner {
      box-shadow: none;
      border-radius: 0;
      border: none;
    }
  }
  /* Sub-Navigation */
  .lotusNavMenu {
    /* Abstand ausklappendes Menü zur globalen Navileiste (z.B. wenn man auf "Anwendungen" klickt) ebenbündig ohne Zwischenraum */
    margin-top: 0;
    &#lconnheadermenu-notifications {
      margin-top: 0;
      outline: none;
    }

    /* Linkfarbe ausgeklappes globales Menü (Communitys, Anwendungen usw) */
    tr {
      a,
      a.lotusHover,
      a:active,
      a:focus,
      a:hover {
        color: $text-color !important;
      }
      /* Überschrift "zuletzt aktualisierte Communitys" */
      #recentCommunities {
        color: $light-text-color !important;
      }
    }

    .lotusNavMenuLarge {
      th {
        img {
          margin: 11px 8px 9px;
        }
        a {
          padding-right: 32px;
        }
      }
    }
    @if $hide-second-level-sub-navigation {
      .lotusNavMenuLarge {
        td {
          display: none;
        }
      }
    }
  }
}