#xccMain {
  .container {
    .bx--btn {
      @extend %button-default-color;
      border: none;
      &.bx--btn--secondary {
        @extend %button-secondary-color;
      }
    }
  }
}

.xccstyle {
  .live-editor, .modal {
    .bx--btn {
      @extend %button-default-color;
      border: none;
      &.bx--btn--secondary {
        @extend %button-secondary-color;
      }
    }
  }
}

body.xccstyle {
  .xccWidget[data-wname^='html_codes'] {
    background: transparent;
    min-height: 0;
    box-shadow: none;
    border: none;
    opacity: .2;
  }
  div.adminpanel {
    .ui-tabs-nav li {
      color: $text-color !important;
      a {
        color: $text-color !important;
        border: none !important;
      }
      &:focus {
        color: $text-color !important;
        border: none;
        outline: none;
        a {
          color: $text-color !important;
        }
      }
      &:hover {
        background: $header-background-color-hover !important;
        color: $header-foreground-color-hover !important;
        a {
          color: $header-foreground-color-hover !important;
        }
      }
      &.ui-tabs-active {
        &:hover {
          background: $header-background-color-hover !important;
          color: $header-foreground-color-hover !important;
          a {
            color: $header-foreground-color-hover !important;
          }
        }
        &::after {
          background: $header-background-color-hover;
        }
      }
    }

    .widgetConfig {
      .wcMenu {
        .choosewidget {
          color: $text-color;
        }
        .wcmItem, .wcmItem.clicked a {
          color: $text-color !important;
          &::before {
            background-color: $header-background-color-hover;
          }
        } 
      }
      a.wcLink {
        color: $link-color;
        &:hover {
          color: $link-color;
        }
      }
    }

    .layoutConfig {
      .bx--link {
        color: $link-color;
      }
      .btn {
        @extend %button-default-color;
        border-radius: 0;
        max-height: 34px;
        outline: none;
        &:hover {
          opacity: 1;
        }
        &.btn-default {
          background: $button-foreground-color !important;
          color: $text-color !important;
          &.active {
            @extend %button-default-color;
          }
          &:hover {
            opacity: 1;
            @extend %button-default-color;
          }
        }
      }
      .panel-heading {
        color: $text-color;
      }
      .input-group {
        > span, > input, > select {
          color: $text-color;
          border-radius: 0;
          box-shadow: none;
          > a {
            span, i {
              color: $link-color;
            }
          }
        }
        input:disabled {
          background-color: inherit;
          opacity: $button-disabled-opacity;
        }
      }
    }
  }
  .clearfix.customize {
    line-height: 0;
  }
  .live-editor {
    .live-editor_form {
      width: 35vw;
      .live-editor_title, .live-editor_section {
        color: $text-color;
      }
      .live-editor_section {
        .live-editor_heading-icon {
          fill: $text-color;
        }
        .live-editor_body {
          a {
            color: $link-color;
          }
          .input-group {
            .input-group-addon, .form-control {
              color: $text-color;
            }
          }
          .live-editor_inner .label {
            color: $text-color;
          }
        }
      }
      .btn-group.dropup {
        max-width: 35vw;
        width: 35vw;
      }
    }
  }

  .chpFlyout {
    .lotusFlyout {
      .lotusFlyoutHeader {
        background-color: $highlight-background-color;
        color: $highlight-foreground-color;
        h2 {
          color: $highlight-foreground-color;
          a {
            color: $highlight-foreground-color;
            text-decoration: none;
          }
        }
        a, .lotusClose {
          color: $highlight-foreground-color;
        }
        .lotusPrint {
          font-size: 20px;
          top: 4px;
        }
        button.lotusClose {
          font-size: 22px;
          top: 3px;
        }
      }
      .lotusFlyoutContent {
        .likes, .more {
          .lotusButton {
            color: $link-color;
          }
        }
        .btn {
          @extend %button-default-color;
          border: none;
          border-radius: 0;
          padding: 4px 8px;
        }
      }
    }
  }

  /* Widget default styles */
  #xccBody.container {
    .xccHeader {
      .customize {
        margin-top: 0;
        button.actualMode {
          position: fixed;
          left: 36px;
          margin-top: 30px;
          transition: $transition-default-all;
          transform: translateX(-100%);
          z-index: 1000;
          &::after {
            @extend %fa-shared;
            padding: 0;
            content: "\f304";
            margin: -3px -10px 0 10px;
          }
          &:hover {
            transform: translateX(0);
            left: 0;
          }
        }
      }
    }
    #xccContent {
      .widget {
        .xccWidget {
          .wedit {
            right: 5px !important;
          }
          .wheader {
            padding: 10px 20px;
          }
          .wbody {
            font-size: $default-font-size;
            padding: 20px;
            h1, h2, h3 {
              &:first-child {
                margin-top: 0;
              }
            }
            a, p {
              font-size: $default-font-size;
            }
            a {
              color: $link-color !important;
              &:hover {
                text-decoration: underline !important;
              }
            }
            ul {
              li {
                &:first-child {
                  margin-top: 0;
                }
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .xccstyle {
    .modal {
      .modal-dialog {
        width: 700px;
      }
    }
  }
}